@font-face {
    font-family: 'Netflix Sans';
    font-weight: 100;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 300;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 400;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 700;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 800;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 900;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff) format('woff')
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
  }

  a { 
    color: inherit; 
} 

:root {
    --red-boton: #e50914;
    --red-boton-hover: #c01019;
    --white: #fefffe;
    --gray: rgba(128,128,128,0.7);

    --light: 400;
    --normal: 600;
    --bold: 800;
}

body {
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #000;
    color: var(--white);
}

h1{
    font-size: 3rem;
    font-weight: 900;
}

h3{
    font-size: 1.5rem;
    font-weight: 400;
}

p{
    font-size: 1.25rem;
    font-weight: 400;
}

.boton{
    border: none;
    min-height: 2rem;
    padding: 0.25rem 1rem;
    background-color: var(--red-boton);
    color: var(--white);
    border-radius: 0.25rem;
    font-weight: 600;
    cursor: pointer;
    transition-duration: 250ms;
}

.boton2{
    border: none;
    min-height: 2rem;
    padding: 0.75rem 1.5rem;
    background-color: var(--red-boton);
    color: var(--white);
    border-radius: 0.25rem;
    font-weight: 600;
    font-size: 1.5rem;
    cursor: pointer;
    transition-duration: 250ms;
}

.boton2 img{
    height: 1.2rem;
}


.seleccion {
    display: flex;
    align-items: center;
    height: 2rem;
    width: 8rem;
    color: var(--white);
    background: rgba(22,22,22,0.7);
    border: var(--gray) 1px solid;
    border-radius: 0.25rem;
    font-size: 1rem;
}

.seleccion .idiomas {
    border: 0 solid transparent;
    width: 8rem;
    appearance: none;
    background: transparent;
    color: var(--white);
    padding: 0.5rem 2rem;
    font-weight: 300;
    font-size: 0.95rem;
    text-align: center;
}

.seleccion svg{
    position: absolute;
    width: auto;
    padding-left: 0.75rem;
}

.email {
    display: flex;
    align-items: center;
    height: 3.5rem;
    width: 24.5rem;
    padding: 1.5rem 1rem 0.5rem 1rem;
    color: var(--white);
    background: rgba(22,22,22,0.7);
    border: var(--gray) 1px solid;
    border-radius: 0.25rem;
    font-size: 1rem;
}

.get-started{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
}

/*Header donde estan las cartas de peliculas*/
header {
    position: relative;
    overflow: hidden;
    height: 700px;
    max-height: 875px;
    padding: 0 0 0;
}

header .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 875px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0, rgba(0, 0, 0, 0.4) 100%), url('https://assets.nflxext.com/ffe/siteui/vlv3/d282a426-b01a-424c-9b83-2c2445e4b61a/cdd25273-94c4-4e87-a427-d6f2d6e27c66/EC-es-20230626-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    background-size: cover;
    transform: scale(1.1) translateY(-20%) translateX(0%);
  }

  header .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
    background-size: cover;

  }

/*parte de ARRIBA del header*/
header .up{
    position: relative;
    height: 5.375rem;
    width: 77vw;
    margin: auto auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

/* Logo de Netflix*/
header .up .left img{
    height: 40px;
}

header .up .right {
    display: flex;
}

header .up .right span{
    margin: 0 0.75rem;
}

header .up .right #b1{
    margin-right: 0;
}

header .up .right span{
    margin: 0 0.75rem;
}

/*Parte del medio Comenzar (Header)*/

header .mid {
    padding-top: 6rem;
    position: relative;
    margin: 6rem 2rem;
    text-align: center;
}

header .mid .comenzar {
    display: flex;
    flex-direction: column;
    align-items: center;
}


header .mid .comenzar h3{
    margin-top: 1rem;
}

header .mid .comenzar p{
    margin: 0 2rem;
}

header .mid .comenzar .info {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 2rem;
    gap: 1.2rem;
}

section {
    border-top: 0.5rem solid #232323;
    padding: 4.5rem 0;
  }

section .section-content {
    margin: auto;
    display: flex;
    width: 75vw;
    align-items: center;
}

section .section-content .left img, section .section-content .right img{
    width: 37.2vw;
}

section .section-content .right .video{
    z-index: -1;
    position: absolute;
    width: 30vw;
    top: 90%;
    left: 55%;
}

section .section-content .right .video video{
    height: 100%;
    width: 100%;
}

section .section-content .right .video2{
    overflow: hidden;
    z-index: -1;
    position: absolute;
    width: 30vw;
    top: 285%;
    left: 57%;
}

section .section-content .right .video2 video{
    
    height: 100%;
    width: 100%;
}

section .section-content-footer {
    margin: auto;
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section .section-content-footer ul{
    margin-top: 1rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

section .section-content-footer .preguntas .pregunta{
    text-align: start;
    width: 65rem;
    height: 5.5rem;
    border: none;
    min-height: 2rem;
    padding: 1.5rem;
    background-color: #2c2c2d;
    color: var(--white);
    font-weight: 500;
    font-size: 1.5rem;
    cursor: pointer;
    transition-duration: 250ms;
}

section .section-content-footer p{
    margin-bottom: 1rem;
}

footer {
    color: rgba(255, 255, 255, 0.7);;
    border-top: 0.5rem solid #232323;
    display: flex;
    justify-content: center;
}

footer p {
    font-size: 1rem;
    font-weight: 400;
    padding: 0.75rem 0;
}

footer .f-content{
    margin: auto 3.75rem;
    padding: 3.75rem 0;
    width: 65rem;
    
}

footer .f2-content {
    padding: 0.75rem 0;
}

footer .f2-content ul{
    display: flex;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.75rem 0;
}

footer .f2-content ul li{
    width: 21rem;
    font-size: 14px;
}

footer .f-content .ff{
    padding: 0.75rem 0;
}

footer .f-content p:last-child{
    font-size: 14px;
}

  @media (min-width:960px) {
    header .up{
        height: 86px;
        width: 92vw;
        margin: auto 2rem;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width:1280px) {
    header .up{
        height: 86px;
        max-width: calc( 83.33333333333334% - 6rem );
        margin: auto auto;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    section .section-content .right .video{
        z-index: -1;
        position: absolute;
        width: 30vw;
        top: 130%;
        left: 55%;
    }
}

@media (min-width: 1919px)
    {

        header .up{
            height: 86px;
            width: 62.5vw;
            margin: auto auto;
            align-items: center;
            display: flex;
            justify-content: space-between;
        }

        section .section-content .right .video{
            z-index: -1;
            position: absolute;
            width: 30vw;
            top: 90%;
            left: 55%;
        }

        section .section-content .right .video2{
            overflow: hidden;
            z-index: -1;
            position: absolute;
            width: 30vw;
            top: 225%;
            left: 57%;
        }
}